@using OrderNow.API.Services
@using OrderNow.BlazorServer.Services

@using System.Text.Json
@using OrderNow.Common.Data.Entities
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<table class="table">
    <thead class="table-header">
        <tr>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Demora actual</th>
            <th>Items</th>
            <th>Total</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @if (_orders != null)
        {
            @foreach (var order in _orders)
            {
                <tr>
                    <td>@order.OrderDate</td>
                    <td>@order.OrderStatus</td>
                    <td>@ElapsedTime(order.Created)</td>
                    <td>@order.PartialCompletionOrderDate</td>
                    <td>@order.TotalAmount</td>
                    <td><a href="/products/@order.Id">Edit</a></td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [ParameterAttribute]
    public string? TableName { get; set; }
    [ParameterAttribute]
    public string? itemCount { get; set; }
    [Inject]
    protected IOrdersServices? _ordersServiceApi { get; set; }
    [Inject]
    protected IDateTimeProvider? _dateTimeProviderApi { get; set; }

    public IEnumerable<Orders>? _orders { get; set; }
    //GetCookieBusinessId
    protected override async Task OnInitializedAsync()
    {
        _orders = await _ordersServiceApi.GetPendingOrdersByBusiness("269c886d-325f-4865-9cc4-34449aa3f56a");
    }

    public string ElapsedTime(DateTime createdAt)
    {
        DateTime startTime = _dateTimeProviderApi.UtcNow;
        var h = startTime.Subtract(createdAt).Hours.ToString("00");
        var m = startTime.Subtract(createdAt).Minutes.ToString("00");
        return $"{h}:{m}";
    }

}