@using OrderNow.BlazorServer.Services

@using System.Text.Json
@using global::Data.Entities
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="favorites-search-bar">
	<p class="title">@TableName</p>
	<input type="text" value="Search here" class="search-box" />
	<button class="filter-btn">Filter</button>
</div>

<table class="orders-list">
	<thead class="table-header">
		<tr>
			<th>
				<p id="fav-title">Cliente</p>
			</th>
			<th>
				<p id="fav-title">Estado</p>
			</th>
			<th>
				<p id="fav-title">Demora actual</p>
			</th>
			<th>
				<p id="fav-title">Items</p>
			</th>
			<th>
				<p id="fav-title">Total</p>
			</th>
		</tr>
	</thead>
	<tbody>
		@if (orders != null)
		{
			@foreach (var order in orders)
			{
				<tr>
					<td>
						<div>
							<img src="" alt="" />
							<p class="name">@order.OrderDate</p>
						</div>
					</td>
					<td>
						<div class="status-box">
							<p>@order.OrderStatus</p>
						</div>
					</td>
					<td>
						<div class="status-progress-bar">
						</div>
						<p class="order-time-delay">@(DateTime.Now.Subtract(order.Created))</p>
					</td>
					<td>
						<p class="order-items">@order.PartialCompletionOrderDate</p>
					</td>
					<td>
						<p class="order-amount">@order.TotalAmount</p>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

@code {

	[ParameterAttribute]
	public string? TableName { get; set; }
	[ParameterAttribute]
	public string? itemCount { get; set; }
	[Inject]
	protected IOrdersApiServices _ordersService { get; set; }

	public IEnumerable<Orders>? orders { get; set; }
	//GetCookieBusinessId
	protected override async Task OnInitializedAsync()
	{
		orders = await _ordersService.GetPendingOrdersByBusiness("269c886d-325f-4865-9cc4-34449aa3f56a");
	}

	

}